html {
  /* Overflow: Hidden; */
}

body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;

  --color--primary: #009579;
  --color--primary-dark: #007f67;
  --color--secondary: #252c6a;
  --color--error: #cc3333;
  --color--success: #4bb544;
  --border-radius: 4px;

  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  /* position: absolute; */
  font-size: 18px;
  background: url(./background.jpg);
  background-size: cover;

  font-family: Arial, sans-serif;
}

header {
  color: #fff;
  padding: 10px;
  float: right;
}

/*menu style*/
nav {
  padding: 10px;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
}

ul {
  top: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--color--primary-dark);
  color: #fff;
}

.active {
  background-color: var(--color--primary-dark);
}



#home {
  display: block;
  color: #fff;
}

#siteLink { 
  color: #fff;
  font-style: italic;
}

.login-button,
.signup-button {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 0;
  font-family: Arial, sans-serif;
  font-style: italic;
  border-radius: 3px;
  border: 1rem;
  cursor: pointer;
}

#signup {
  display: none;

  color: #fff;
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

#login {
  display: none;

  color: #fff;
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  /* background-color: #fff; */
}

#login,
.form__input,
.form__button {
  font: 500 1rem 'Space Grotesk', sans-serif;
}


.hidden {
  display: none;
}

/* TODO: fix the signup alignment */
.form {
  top: 0;
}

.form>*:first-child {
  margin-top: 0;
}

.form>*:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color--success);
}

.form__message--error {
  color: var(--color--error);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color--primary);
  background: #fff;
}

.form__input-error {
  color: var(--color--error);
  border-color: var(--color--error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color--error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color--primary);
}

.form__button:hover {
  background: var(--color--primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

.password-container {
  width: 400px;
  position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}

/* .fa-eye {
  position: absolute;
  top: 36%;
  right: 4%;
  cursor: pointer;
  color: var(--color--primary);
} */

.birthdayContainer {
  padding: 15px;
}

SELECT {
  padding: 5px;
}

input.date {
  width: 50px;
  padding: 5px;
}

#about {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#game {
  display: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  color: #000;
  text-align: center;
}