html {
  Overflow: Hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");

/* header style*/
header {
  color: #fff;
  padding: 10px;
  float: right;
  width: 100%;
  height: 3rem;
  /* align-items: left; */
}
#gamePage{
display: none;

  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 100% - 3rem;
  overflow: hidden;
}
#gameCanvas{
  top: 90;
  left: 0;
  z-index: 0;
}

img {
  height: 3rem;
  width: auto;
}

/* body style*/
body {
  /* padding-top: 100px; */
  
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;

  --color--primary: #D27D2D;
  --color--primary-dark: #B87333;
  --color--secondary: #252c6a;
  --color--error: #cc3333;
  --color--success: #4bb544;
  --border-radius: 4px;

  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  /* position: absolute; */
  font-size: 18px;
  background: url(./background.jpg);
  background-size: cover;

  font-family: Arial, sans-serif;

  padding-bottom: 100px;
}

/*menu style*/
nav {
  padding: 10px;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  top: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: inline;
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: var(--color--primary-dark);
  color: #fff;
}

.active {
  background-color: var(--color--primary-dark);
}

/* home style */
#home {
  display: block;
  color: #fff;
}

#siteLink { 
  color: #fff;
  font-style: italic;
}

.login-button,
.signup-button  {
  font-family: "Alumni Sans", sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin: 10px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #D27D2D;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.login-button:before,
.signup-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 100%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.login-button:active,
.signup-button:active {
  color: #D27D2D
}

.login-button:active:after,
.signup-button:active:after {
  background: transparent;
}

.login-button:hover:before,
.signup-button:hover:before {
  opacity: 1;
}

.login-button:after,
.signup-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #D27D2D;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }}

/* signup style */
#signup {
  display: none;

  color: #fff;
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

/* login and singup style */
#login {
  display: none;

  color: #fff;
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  /* background-color: #fff; */
}

#login,
.form__input,
.form__button {
  font: 500 1rem 'Space Grotesk', sans-serif;
}


.hidden {
  display: none;
}

/* TODO: fix the signup alignment */
/* .form {
  top: 0;
} */

.form>*:first-child {
  margin-top: 0;
}

.form>*:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color--success);
}

.form__message--error {
  color: var(--color--error);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  outline: none;
  background: #eee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color--primary);
  background: #fff;
}

.form__input-error {
  color: var(--color--error);
  border-color: var(--color--error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color--error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color--primary);
}

.form__button:hover {
  background: var(--color--primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

.password-container {
  width: 400px;
  position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}

.form__input-group {
  position: relative;
}

.form__input-group #show_login_password,
.form__input-group  #show_singup_password,
.form__input-group #show_confirm_password {
  position: absolute;
  top: 30%;
  right: 4%;
  cursor: pointer;
  color: var(--color--primary);
}

.container{
  padding: 15px;
}
SELECT{
  padding: 5px;
}
input.date{
  width:50px;
  padding: 5px;
}

/* .birthdayContainer {
  padding: 15px;
} */

SELECT {
  padding: 5px;
}

input.date {
  width: 50px;
  padding: 5px;
}

/* about style */
#about {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* game style
#game {
  display: none;
} */

/* footer style */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #eee;
  color: #000;
  text-align: center;
}

/* Table Style */

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #444444;
  color: #FFFFFF;
  font-size: 14px;
}

thead {
  background-color: #222222;
}

th {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #333333;
}

td {
  padding: 10px;
}

td:first-child {
  font-weight: bold;
  text-align: center;
}

td:nth-child(2) {
  text-align: center;
}

td:last-child {
  text-align: center;
}

/* confi style */

/* #confi_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700;
  font-size: 2em;
  background: #212121;
  color: #fff;
  text-transform: uppercase;
  gap: 30px;
} */

#start_game {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10;
  background-color: #D27D2D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  cursor: pointer;
}

#key_set{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  display: flex;
  background-color: #D27D2D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom:0px;
  cursor: pointer;
}

#key_set:hover{
  background-color: #B87333;
}

#start_game:hover {
  background-color: #B87333;
}

.volume-bar {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #D27D2D;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #D27D2D;
  cursor: pointer;
  border-radius: 50%;
}

/* styiling headers */

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  
  /* --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5; */
 
}

/* body {
  min-height: 100vh;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #eff8e2;
} */

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.End_title {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: "Alumni Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  -webkit-animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
          animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@-webkit-keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* second font style */

.confi_container {
  font-family: "Alumni Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  min-width: 400px;
  font-size: 2em;
  background: rgba(33, 33, 33, 0.8);
  color: #fff;
  text-transform: uppercase;
  gap: 0px;
  border-radius: 10px;
}

h1 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 5em;
  /* text-decoration: underline; */
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.3em;
  }
}

.neuen_light {
  /* font-style: italic; */
  /* text-transform: uppercase; */
  color: #fff;

  transition: all 0.5s ease-in-out;
  text-align: center;

}
.neuen_light:hover {
  color: #fff;
}

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_container h1 {
  font-size: 200px;
  margin: 0;
}

.home_container p {
  text-align: center;
  margin: 0;
}

.home_container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


